html, body {
  background-color: PaleGreen;
  color: Sienna;
  padding: 24px;
  font-family: 'Segoe Script';
}

.anleitung {
  color: MediumAquaMarine;
}

.willkommen-text {
  margin-bottom: 3em;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

h1 {
  font-family: 'Segoe Print';
  font-size: 2.5em;
  color: MediumAquaMarine;
  padding-bottom: 8px;
  border-bottom: 2px MediumAquaMarine;
}

h2 {
  font-family: 'Segoe Script';
  font-size: 2em;  
  color: MediumAquaMarine;
}

h3 {
  font-family: 'Segoe Script';
  font-size: 1.5em;  
}

.inhalt {
  max-width: 800px;
  margin: 0 auto;
}

.frage {
  margin-bottom: 80px;
  font-size: 1.1em;
}

.emoji-frage {
  font-size: 2.5em; 
  background-color: MediumAquaMarine;
  color: yellow;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 16px;
}

.hinweis {
  background-color:MediumAquaMarine;
  color: white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.loesung {
  background-color: lighterseagreen;
  color: white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.versteckt p {
  opacity: 0;
}

.versteckt:hover p {
  opacity: 1;  
  transition: opacity 0.3s;
} 
